{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/global.css') }}">
    <link rel="stylesheet" href="{{ asset('css/competences.css') }}">
{% endblock %}

{% block title %}
    {% trans %}main.competences.titlePage{% endtrans %} {# Compétences #}
{% endblock %}

{% block body %}
<main id="competences_body">
    <aside>
        <img src="{{ asset('images/Ma_photo.png') }}" title="ma photo" alt="photo">
    </aside>
    <div>
        <h2>{% trans %}main.competences.titleView{% endtrans %}</h2> {# Quelles sont mes compétences ? #}
        <p>{% trans %}main.competences.scol{% endtrans %}</p> {# Mes meilleurs résultats aux études étaient en Java, en
            assembleur et en html/css. Je suis aussi doué en maths, en base de données, en anglais et en diagrammes. #}
		<p>{% trans %}main.competences.calc{% endtrans %}</p> {# En dehors des études, je suis doué en calcul mental. Quand
		    j'étais en école primaire, j'ai refusé d'apprendre les tables de multiplication car je considérais que
		    c'était pour les paresseux et je voulais tout calculer de tête. Le résultat est que j'ai beaucoup pratiqué,
		    et à force, je suis devenu fort pour cela. #}
    </div>
    <div>
        <h2>{% trans %}main.competences.titleRoles{% endtrans %}</h2> {# Mes rôles de prédilection dans un projet #}
        <p>{% trans %}main.competences.descRoles{% endtrans %}</p> {# Je suis quelqu'un qui tient à finir sa part du travail.
            Je suis généralement plus efficace en choisissant une tâche précise et en la faisant jusqu'au bout de mon
            côté. Je peux aussi contribuer à un projet en regardant ce que font les autres et en signalant ce
			qui est erroné. #}
    </div>
</main>
{% endblock %}
