{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/global.css') }}">
    <link rel="stylesheet" href="{{ asset('css/competences.css') }}">
{% endblock %}

{% block title %}
    {% trans %}main.competences.titlePage{% endtrans %} {# Compétences #}
{% endblock %}

{% block body %}
<main id="competences_body">
    <aside>
        <img src="{{ asset('images/Ma_photo.png') }}" title="ma photo" alt="photo">
    </aside>
    <div>
        <h2>{% trans %}main.competences.titleView{% endtrans %}</h2> {# Quelles compétences ? #}
        <p>{% trans %}main.competences.scol{% endtrans %}</p> {# Meilleurs résultats aux études en programmation et en
            mathématiques. Également aussi doué en développement, en base de données, en anglais et en diagrammes. #}
		<p>{% trans %}main.competences.calc{% endtrans %}</p> {# En dehors des études, possède des compétences pour le calcul mental. #}
    </div>
    <div>
        <h2>{% trans %}main.competences.titleRoles{% endtrans %}</h2> {# Rôles de prédilection dans un projet : #}
        <p>{% trans %}main.competences.descRoles{% endtrans %}</p> {# Quelqu'un qui tient à finir sa part du travail.
            Généralement plus efficace en choisissant une tâche précise et en la faisant jusqu'au bout de son
            côté. Peux aussi contribuer à un projet en regardant ce que font les autres et en signalant ce
			qui est erroné. #}
    </div>
    <p id="num1" class="decorative_numbers">∫5x</p>
    <p id="num2" class="decorative_numbers">2a + 5b - c = k + ¼</p>
    <p id="num3" class="decorative_numbers">ln(7e)</p>
    <p id="num4" class="decorative_numbers">p³ + 7k</p>
</main>
{% endblock %}
