{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}default.competences.titlePage{% endtrans %} {# Compétences #}
{% endblock %}

{% block body %}
    <div id="competences_corp">
        <aside>
            <img src="{{ asset('/public/images/Ma_photo.jpeg') }}" title="ma photo" alt="photo">
        </aside>
        <div>
            <h1>{% trans %}Quelles sont mes compétences ?{% endtrans %}</h1>
            <p>
                {% trans %}Mes meilleurs résultats aux études étaient en Java, en assembleur et en html/css. J'était aussi
				doué en maths, en base de données, en anglais et en diagrammes.{% endtrans %}
            </p>
			<p>
                {% trans %}En dehors des études, je suis doué en calcul mental. Quand j'étais en école primaire, j'ai refusé
				d'apprendre les tables de multiplication car je considérais que c'était pour les paresseux et je voulais
				tout calculer de tête. Le résultat est que j'ai beaucoup pratiqué, et à force, je suis devenu fort pour cela.{% endtrans %}
			</p>
        </div>
        <div>
            <h1>{% trans %}Mes rôles de prédilection dans un projet{% endtrans %}</h1>
            <p>
                {% trans %}Je suis quelqu'un qui tient à finir sa part du travail. Je suis généralement plus efficace en
				choisissant une tâche précise et en la faisant jusqu'au bout de mon côté.
				Je peux aussi contribuer à un projet en regardant ce que font les autres et en signalant ce
				qui est clairement erroné.{% endtrans %}
            </p>
        </div>
    </div>
{% endblock %}
