{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}default.contact.titlePage{% endtrans %} {# Contact #}
{% endblock %}

{% block body %}
<div id="contact_body">
    <aside>
        <img id="telephone" src="{{ asset('images/telephone.jpg') }}" alt="téléphone">
    </aside>
    <div>
        <h1>Comment me contacter ?</h1>
        <p>
            Vous pouvez me contacter par le biais de mon téléphone portable ou par e-mail.<br>
            Ma préférence personnelle tend vers le mail. Je ne serai pas toujours disponible pour le télépone, mais je garde toujours ma boîte  mail ouverte dans un onglet en utilisant un appareil électronique.
        </p>
    </div>
    <div>
        <h1>Contact :</h1>
        <p>
            Téléphone : 06 01 87 60 36<br>
            E-mail    : silure.38@gmail.com
        </p>
    </div>
</div>
{% endblock %}
