{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/global.css') }}">
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block title %}
    {% trans %}main.contact.titlePage{% endtrans %} {# Contact #}
{% endblock %}

{% block body %}
<div id="contact_body">
    <aside>
        <img id="telephone" src="{{ asset('images/telephone.png') }}" alt="téléphone">
    </aside>
    <div>
        <h2>{% trans %}Comment me contacter ?{% endtrans %}</h2>
        <p>
            {% trans %}Vous pouvez me contacter grâce à mon téléphone portable ou à mon e-mail.{% endtrans %}<br>
            {% trans %}Ma préférence personnelle tend vers le mail. Je ne serai pas toujours disponible pour le télépone, mais je garde toujours ma boîte  mail ouverte dans un onglet en utilisant un appareil électronique.{% endtrans %}
        </p>
    </div>
    <div>
        <h3>{% trans %}Contact :{% endtrans %}</h3>
        <p>
            {% trans %}Téléphone : 06 01 87 60 36{% endtrans %}<br>
            E-mail    : silure.38@gmail.com
        </p>
    </div>
</div>
{% endblock %}
