{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/global.css') }}">
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block title %}
    {% trans %}main.index.titlePage{% endtrans %}
{% endblock %}

{% block body %}
<main class="accueil">
    <div class="accueil_container">
        <img src="{{ asset('images/Ma_photo.png') }}" alt="Ma photo">
        <div>
            <h2>{% trans %}main.index.quoi{% endtrans %}</h2> {# Portfolio de #}
            <h1>Timothée Dagand</h1>
            <p>{% trans %}main.index.occupation{% endtrans %}</p> {# Etudiant en informatique #}
            <a href="https://github.com/arowana755/Portfolio">{% trans %}main.index.github{% endtrans %}</a>
        </div>
    </div>
</main>
{% endblock %}
