{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>Portfolio de</h2>
    <h1>Timothée Dagand</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/silur/Desktop/Répertoire perso/Work/portfolio/v4/src/Controller/MainController.php</code></li>
        <li>Your template at <code>C:/Users/silur/Desktop/Répertoire perso/Work/portfolio/v4/templates/main/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
