{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}default.infos_perso.titlePage{% endtrans %} {# Infos_perso #}
{% endblock %}

{% block body %}
<div id="infos_perso_body">
    <aside>
        <img src="{{ asset('images/Ma_photo.jpeg') }}" title="ma photo" alt="photo">
    </aside>
    <div>
        <h2>{% trans %}Qui suis-je ?{% endtrans %}</h2>
        <p>
            {% trans %}Mon nom est Timothée Dagand.{% endtrans %}<br>
            {% trans %}Je suis un étudiant en informatique. Je sais programmer dans les langages Java, HTML, CSS, SQL et l'assembleur.{% endtrans %}<br>
            {% trans %}Je maîtrise les bases de l'administration de systèmes informatique.{% endtrans %}
        </p>
    </div>
    <div>
        <h3>{% trans %}Quelle type d'offre ?{% endtrans %}</h3>
        <p>
            {% trans %}Je serai plus performant dans la programmation. Si possible, je peux apprendre de nouvelles choses.{% endtrans %}
        </p>
    </div>
</div>
{% endblock %}
