{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}default.projets.titlePage{% endtrans %} {# Projets #}
{% endblock %}

{% block body %}
<div id="projets_body">
    <div>
        <h3>Création d'une intelligence artificielle</h3>
        <p>
            Durant ma formation, j'ai créé une IA qui analysait des dépêches et
            devinait le thême grace à une liste de mots que je lui ai donnée. Je lui
            ai ensuite fait analyser 500 dépêches et elle avait près de 80% de réussite.
        </p>
    </div>
    <div>
        <h3>Exploîtation d'une base de données</h3>
        <p>
            Encore pendant ma formation, j'ai nettoyé une base de données sur le
            nutriscore contenant des doublons et des valeurs impossibles. J'ai ensuite
            extrait certaines données intéressantes pour créer des graphiques afin
            d'expliquer ce qu'est le nutriscore.
        </p>
    </div>
    <div>
        <h3>Développement d'une application pour organisateurs d'évènements</h3>
        <p>
            Toujous durant ma formation, j'ai participé à des travaux de groupe visants à
            créer un logiciel visant à aider des organisateurs d'évènements.
            Cela m'a appris l'importance de la communication dans les travaux en groupe.
            Nous pouvons gagner beaucoup de temps en nous coordonnants correctement.
            Je me suis occuppé de la conception de diagrammes UML et des diagrammes de
            séquences illustrants le code de l'application, ce qui m'a donné de
            l'expérience pour réfléchir à comment un service informatique doit faire afin
            de fonctionner correctement. J'ai également fait le code du modèle java.
        </p>
    </div>
    <br>
    <div>
        <h3>Développement d'une application pour visiter des musées</h3>
        <p>
            Durant un autre projet en équipe, j'ai participé au développement d'une
            application servant à créer des chemins de musées fictifs pour ceux qui
            n'auraient pas le temps de tout voir. J'ai pu expérimenter davantage le fait
            de travailler avec un chef de projet et la découverte du framework NextJS.
            Je me suis occupé de diverses tâches telles que le modèle typescript, le design
            et l'ergonomie de l'application, la conception de diagrammes ou la correction
            de bugs.
        </p>
    </div>
    <div>
        <h3>Amélioration d'une application existante</h3>
        <p>
            Plus tard dans mon BUT2, j'ai aussi amélioré une application de recherche de
            stage donnée par les enseignants de l'IUT. C'était un projet de groupe.
            Cela m'a montré quelles pouvaient être les conséquences d'un travail mal fait
            et comment y remédier. Je me suis chargé de l'amélioration de la base de données
            et de la partie serveur avec le framework Symfony.
        </p>
    </div>
</div>
{% endblock %}
