:root {
    --competences-primary-bg-color: #1b263b;
    --competences-sec-bg-color: #1b264b;
}

html {
    background-color: var(--competences-primary-bg-color);
    color: var(--secondary-text-color);
}

section > div {
    background-color: var(--competences-sec-bg-color);
    border-radius: 2%;
    z-index: 2;
}

section > aside {
    align-self: center;
}

section {
    position: relative;
}

section > p.decorative_numbers {
    position: absolute;
    font-size: 25px;
    color: gray;
    font-weight: bold;
    z-index: 1;
}

section > p.decorative_numbers#num1 {
    top: 100%;
    left: 40%;
}

section > p.decorative_numbers#num2 {
    top: 50%;
    left: 13%;
}

section > p.decorative_numbers#num3 {
    top: 60%;
    left: 60%;
}

section > p.decorative_numbers#num4 {
    top: 120%;
    left: 75%;
}
