:root {
    --contact-primary-bg-color: #8ac956;
    --contact-sec-bg-color: #8ac926;
}

html {
    background-color: var(--contact-primary-bg-color);
}

section {
    height: 80%;
}

section > div {
    position: relative;
    background-color: var(--contact-sec-bg-color);
    border: 2px solid green;
}

section > div > img.contact_image {
    position: absolute;
    right: 10px;
    top: 100px;
}

section > div > img#telephone {
    max-width: 80px;
}

a.logo_github {
    width: min-content;
    border: 2px solid #1b263b;
    background-color: #8ac956;
}

img.logo_github {
    max-width: 160px;
    border-radius: 20px;
    padding: 10px;
}
