:root {
    --contact-primary-bg-color: #8ac956;
    --contact-sec-bg-color: #8ac926;
}

html {
    background-color: var(--contact-primary-bg-color);
}

main {
    height: 80%;
}

main > div {
    position: relative;
    background-color: var(--contact-sec-bg-color);
    border: 2px solid green;
}

main > div > img.contact_image {
    position: absolute;
    right: 10px;
    top: 100px;
}

main > div > img#telephone {
    max-width: 80px;
}
