:root {
    --infos-perso-primary-bg-color: #03045e;
    --infos-perso-sec-bg-color: #03044e;
}

html {
    background-color: var(--infos-perso-primary-bg-color);
    color: var(--secondary-text-color);
}

section > div.infos {
    position: relative;
    background-color: var(--infos-perso-sec-bg-color);
    height: 35em;
}

img.crayon {
    position: absolute;
    left: 70%;
    top: 10%;
    transform: rotate(225deg);
}

aside {
    align-self: center;
}
