body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#infos_perso_body {
    //background-image: url(Images/fond-mur-vide.jpg);
}

#projets_body {
    //background-image: url(Images/planche.jpg);
    background-size: 33.35%;
    color: white;
}

#contact_body {
    //background-image: url(Images/grunge-wall-texture.jpg);
}

#contact_body main {
    height: 80%;
}

main {
    display: flex;
    justify-content: space-around;
}

#projets_body main {
    flex-wrap: wrap;
    justify-content: flex-start;
}

div {
    width: 30%;
    height: 30em;
    display: flex;
    flex-flow: nowrap column;
    gap: 2em;
}

#projets_body main div {
    width: 600px;
    margin-left: 20px;
    margin-right: 20px;
}

#infos_perso_body aside {
    align-self: center;
}

h1 {
    margin-top: 5em;
    height: 20%;
}

header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

header li {
    text-decoration: none;
    border: 1px solid rgb(65, 46, 22);
    border-radius: 3px;
    background-color: rgb(61, 53, 43);
    padding: 1em 0 1em 0;
}

header a {
    text-decoration: none;
    padding: 1em 2em 1em 2em;
}

li.link_page a {
    color: lightgreen;
}

li.this_page a {
    color: green;
	pointer-events: none;
	cursor: default;
	display: inline;
}

p {
    margin: 0;
}

#contact_body aside {
    position: relative;
}

img#telephone {
    position: absolute;
    left: 90%;
    width: 20cqb;
}

footer {
    position: relative;
}

footer p {
    position: fixed;
    bottom: 0;
    color: grey;
    font-style: italic;
    font-size: 8pt;
}
