:root {
    --primary-bg-color: #2f27ce;
    --secondary-bg-color: #31357a;
    --navbar-bg-color: #b7baea;
    --navbar-border-color: #232323;
    --primary-text-color: #050315;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: var(--primary-text-color);
}

#contact_body main {
    height: 80%;
}

main {
    display: flex;
    justify-content: space-around;
}

#projets_body main {
    flex-wrap: wrap;
    justify-content: flex-start;
}

div {
    width: 30%;
    height: 30em;
    display: flex;
    flex-flow: nowrap column;
    gap: 2em;
}

#projets_body main div {
    width: 600px;
    margin-left: 20px;
    margin-right: 20px;
}

#infos_perso_body aside {
    align-self: center;
}

h1 {
    margin-top: 5em;
    height: 20%;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

nav li {
    text-decoration: none;
    border: 1px solid var(--navbar-border-color);
    border-radius: 3px;
    background-color: var(--navbar-bg-color);
    padding: 1em 0 1em 0;
}

nav a {
    text-decoration: none;
    padding: 1em 2em 1em 2em;
}

li.link_page a {
    color: lightgreen;
}

p {
    margin: 0;
}

#contact_body aside {
    position: relative;
}

img#telephone {
    position: absolute;
    left: 90%;
    width: 20cqb;
}

footer {
    position: relative;
}

footer p {
    position: fixed;
    bottom: 0;
    color: grey;
    font-style: italic;
    font-size: 8pt;
}
