:root {
    --projets-primary-bg-color: #adb5bd;
    --projets-sec-bg-color: #adb5ad;
}

html {
    background-color: var(--projets-primary-bg-color);
}

main {
    flex-wrap: wrap;
    justify-content: flex-start;
}

main > div.project_container {
    width: 45%;
    height: 25em;
    background-color: var(--projets-sec-bg-color);
    position: relative;
}

main img.marteau {
    height: min-content;
    width: 25%;
    transform: rotate(300deg) scale(-1, 1);
    position: absolute;
    right: 10px;
}

h3 {
    height: auto;
}
