{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block body %}
<footer>
    <p>{% trans %}.footer.msg{% endtrans %}</p> {# Toutes les images utilisées sont libres de droits #}
</footer>
{% endblock %}
