{% block title %}
    {% trans %}.footer.titlePage{% endtrans %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block body %}
<footer>
    <p>Toutes les images utilisées sont libres de droits</p>
</footer>
{% endblock %}
