{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Navbar{% endtrans %}
{% endblock %}

{% block body %}
<header>
    <nav>
        <ul>
            <li class="link_page"><a href="{{ path('port_infos_perso') }}">Qui suis-je ?</a></li>
            <li class="link_page"><a href="{{ path('port_competences') }}">Mes compétences</a></li>
            <li class="link_page"><a href="{{ path('port_projets') }}">Mes projets</a></li>
            <li class="link_page"><a href="{{ path('port_contact') }}">Me contacter</a></li>
        </ul>
    </nav>
</header>
{% endblock %}
