{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Navbar{% endtrans %}
{% endblock %}

{% block body %}
<header>
    <nav>
        <ul>
            <li class="this_page"><a href="{{ path('app_infos_perso') }}">{% trans %}.navbar.infos_perso{% endtrans %}</a></li>    {# Qui suis-je ? #}
            <li class="other_page"><a href="{{ path('app_competences') }}">{% trans %}.navbar.competences{% endtrans %}</a></li>   {# Mes compétences #}
            <li class="other_page"><a href="{{ path('app_projets') }}">{% trans %}.navbar.projets{% endtrans %}</a></li>           {# Mes projets #}
            <li class="other_page"><a href="{{ path('app_contact') }}">{% trans %}.navbar.contact{% endtrans %}</a></li>           {# Me contacter #}
        </ul>
    </nav>
</header>
{% endblock %}
